/* CSS DOCUMENT */
header {
	text-align: left;
	line-height: 1.6;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	border-radius: 10px;
	font-family: 'Raleway', sans-serif;

	}
body {
background-color: #EEEEEE;

}



#top {
	text-align: center; 
	background-image: linear-gradient(#4B93CF, #4BCF7D);
	border-radius: 10px;
	padding: 20px;
	color: white;

 }


#footer {
	background-image: linear-gradient(#4B93CF, #4BCF7D);
	border-radius: 10px;
	padding-left: 10px;
	color: white
}

button {
  background-color: #C2FF58;
  border: none;
  border-radius: 8px;
  color: black;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;

button:active {
  background-color: "pink";
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}